@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<alert message=".NET Explain !" type="Success"></alert>